<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="dialogflowToken" value="02dfae2ac6314b119bad63c498714717" />
    <add key="excelPath" value="D:\FAQtemplate.xlsx" />
  </appSettings>
</configuration>